<div>
    <h2 id="page-heading">
        <span jhiTranslate="adventureGatewayApp.adventureAttributes.home.title">Adventure Attributes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-adventure-attributes" [routerLink]="['/adventure-attributes/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="adventureGatewayApp.adventureAttributes.home.createLabel">
            Create new Adventure Attributes
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'adventureGatewayApp.adventureAttributes.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="adventureAttributes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="defence"><span jhiTranslate="adventureGatewayApp.adventureAttributes.defence">Defence</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="defenceArmorType"><span jhiTranslate="adventureGatewayApp.adventureAttributes.defenceArmorType">Defence Armor Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fireResistance"><span jhiTranslate="adventureGatewayApp.adventureAttributes.fireResistance">Fire Resistance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="earthResistance"><span jhiTranslate="adventureGatewayApp.adventureAttributes.earthResistance">Earth Resistance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="waterResistance"><span jhiTranslate="adventureGatewayApp.adventureAttributes.waterResistance">Water Resistance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="windResistance"><span jhiTranslate="adventureGatewayApp.adventureAttributes.windResistance">Wind Resistance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="activeWeaponAttackDamage"><span jhiTranslate="adventureGatewayApp.adventureAttributes.activeWeaponAttackDamage">Active Weapon Attack Damage</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="activeWeaponAttackHit"><span jhiTranslate="adventureGatewayApp.adventureAttributes.activeWeaponAttackHit">Active Weapon Attack Hit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="activeWeaponAttackType"><span jhiTranslate="adventureGatewayApp.adventureAttributes.activeWeaponAttackType">Active Weapon Attack Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="size"><span jhiTranslate="adventureGatewayApp.adventureAttributes.size">Size</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let adventureAttributes of adventureAttributes ;trackBy: trackId">
                <td><a [routerLink]="['/adventure-attributes', adventureAttributes.id, 'view' ]">{{adventureAttributes.id}}</a></td>
                <td>{{adventureAttributes.defence}}</td>
                <td jhiTranslate="{{'adventureGatewayApp.AdventureDefenceArmorType.' + adventureAttributes.defenceArmorType}}">{{adventureAttributes.defenceArmorType}}</td>
                <td>{{adventureAttributes.fireResistance}}</td>
                <td>{{adventureAttributes.earthResistance}}</td>
                <td>{{adventureAttributes.waterResistance}}</td>
                <td>{{adventureAttributes.windResistance}}</td>
                <td jhiTranslate="{{'adventureGatewayApp.AdventureActiveWeaponAttackDamage.' + adventureAttributes.activeWeaponAttackDamage}}">{{adventureAttributes.activeWeaponAttackDamage}}</td>
                <td>{{adventureAttributes.activeWeaponAttackHit}}</td>
                <td>{{adventureAttributes.activeWeaponAttackType}}</td>
                <td>{{adventureAttributes.size}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/adventure-attributes', adventureAttributes.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/adventure-attributes', adventureAttributes.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'adventure-attributes', { outlets: { popup: adventureAttributes.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="adventureAttributes && adventureAttributes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
