<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-adventure-attributes-heading" jhiTranslate="adventureGatewayApp.adventureAttributes.home.createOrEditLabel">Create or edit a Adventure Attributes</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!adventureAttributes.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="adventureAttributes.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureAttributes.defence" for="field_defence">Defence</label>
                    <input type="number" class="form-control" name="defence" id="field_defence"
                        [(ngModel)]="adventureAttributes.defence" required/>
                    <div [hidden]="!(editForm.controls.defence?.dirty && editForm.controls.defence?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.defence?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.defence?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureAttributes.defenceArmorType" for="field_defenceArmorType">Defence Armor Type</label>
                    <select class="form-control" name="defenceArmorType" [(ngModel)]="adventureAttributes.defenceArmorType" id="field_defenceArmorType"  required>
                        <option value="BASIC">{{'adventureGatewayApp.AdventureDefenceArmorType.BASIC' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.defenceArmorType?.dirty && editForm.controls.defenceArmorType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.defenceArmorType?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureAttributes.fireResistance" for="field_fireResistance">Fire Resistance</label>
                    <input type="number" class="form-control" name="fireResistance" id="field_fireResistance"
                        [(ngModel)]="adventureAttributes.fireResistance" required/>
                    <div [hidden]="!(editForm.controls.fireResistance?.dirty && editForm.controls.fireResistance?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fireResistance?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.fireResistance?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureAttributes.earthResistance" for="field_earthResistance">Earth Resistance</label>
                    <input type="number" class="form-control" name="earthResistance" id="field_earthResistance"
                        [(ngModel)]="adventureAttributes.earthResistance" required/>
                    <div [hidden]="!(editForm.controls.earthResistance?.dirty && editForm.controls.earthResistance?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.earthResistance?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.earthResistance?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureAttributes.waterResistance" for="field_waterResistance">Water Resistance</label>
                    <input type="number" class="form-control" name="waterResistance" id="field_waterResistance"
                        [(ngModel)]="adventureAttributes.waterResistance" required/>
                    <div [hidden]="!(editForm.controls.waterResistance?.dirty && editForm.controls.waterResistance?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.waterResistance?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.waterResistance?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureAttributes.windResistance" for="field_windResistance">Wind Resistance</label>
                    <input type="number" class="form-control" name="windResistance" id="field_windResistance"
                        [(ngModel)]="adventureAttributes.windResistance" required/>
                    <div [hidden]="!(editForm.controls.windResistance?.dirty && editForm.controls.windResistance?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.windResistance?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.windResistance?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureAttributes.activeWeaponAttackDamage" for="field_activeWeaponAttackDamage">Active Weapon Attack Damage</label>
                    <select class="form-control" name="activeWeaponAttackDamage" [(ngModel)]="adventureAttributes.activeWeaponAttackDamage" id="field_activeWeaponAttackDamage"  required>
                        <option value="BLUNT">{{'adventureGatewayApp.AdventureActiveWeaponAttackDamage.BLUNT' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.activeWeaponAttackDamage?.dirty && editForm.controls.activeWeaponAttackDamage?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.activeWeaponAttackDamage?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureAttributes.activeWeaponAttackHit" for="field_activeWeaponAttackHit">Active Weapon Attack Hit</label>
                    <input type="number" class="form-control" name="activeWeaponAttackHit" id="field_activeWeaponAttackHit"
                        [(ngModel)]="adventureAttributes.activeWeaponAttackHit" required/>
                    <div [hidden]="!(editForm.controls.activeWeaponAttackHit?.dirty && editForm.controls.activeWeaponAttackHit?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.activeWeaponAttackHit?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.activeWeaponAttackHit?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureAttributes.activeWeaponAttackType" for="field_activeWeaponAttackType">Active Weapon Attack Type</label>
                    <input type="number" class="form-control" name="activeWeaponAttackType" id="field_activeWeaponAttackType"
                        [(ngModel)]="adventureAttributes.activeWeaponAttackType" required/>
                    <div [hidden]="!(editForm.controls.activeWeaponAttackType?.dirty && editForm.controls.activeWeaponAttackType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.activeWeaponAttackType?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.activeWeaponAttackType?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureAttributes.size" for="field_size">Size</label>
                    <input type="number" class="form-control" name="size" id="field_size"
                        [(ngModel)]="adventureAttributes.size" required/>
                    <div [hidden]="!(editForm.controls.size?.dirty && editForm.controls.size?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.size?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.size?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
