<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-adventure-attributes-heading" jhiTranslate="adventureGatewayApp.adventureAttributes.home.createOrEditLabel">Create or edit a Adventure Attributes</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!adventureAttributes.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureAttributes.defence" for="field_defence">Defence</label>
                    <input type="number" class="form-control" name="defence" id="field_defence"
                           formControlName="defence"/>
                    <div *ngIf="editForm.get('defence').invalid && (editForm.get('defence').dirty || editForm.get('defence').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('defence').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('defence')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureAttributes.defenceArmorType" for="field_defenceArmorType">Defence Armor Type</label>
                    <select class="form-control" name="defenceArmorType" formControlName="defenceArmorType" id="field_defenceArmorType">
                        <option value="BASIC">{{'adventureGatewayApp.AdventureDefenceArmorType.BASIC' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('defenceArmorType').invalid && (editForm.get('defenceArmorType').dirty || editForm.get('defenceArmorType').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('defenceArmorType').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureAttributes.fireResistance" for="field_fireResistance">Fire Resistance</label>
                    <input type="number" class="form-control" name="fireResistance" id="field_fireResistance"
                           formControlName="fireResistance"/>
                    <div *ngIf="editForm.get('fireResistance').invalid && (editForm.get('fireResistance').dirty || editForm.get('fireResistance').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fireResistance').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('fireResistance')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureAttributes.earthResistance" for="field_earthResistance">Earth Resistance</label>
                    <input type="number" class="form-control" name="earthResistance" id="field_earthResistance"
                           formControlName="earthResistance"/>
                    <div *ngIf="editForm.get('earthResistance').invalid && (editForm.get('earthResistance').dirty || editForm.get('earthResistance').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('earthResistance').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('earthResistance')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureAttributes.waterResistance" for="field_waterResistance">Water Resistance</label>
                    <input type="number" class="form-control" name="waterResistance" id="field_waterResistance"
                           formControlName="waterResistance"/>
                    <div *ngIf="editForm.get('waterResistance').invalid && (editForm.get('waterResistance').dirty || editForm.get('waterResistance').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('waterResistance').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('waterResistance')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureAttributes.windResistance" for="field_windResistance">Wind Resistance</label>
                    <input type="number" class="form-control" name="windResistance" id="field_windResistance"
                           formControlName="windResistance"/>
                    <div *ngIf="editForm.get('windResistance').invalid && (editForm.get('windResistance').dirty || editForm.get('windResistance').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('windResistance').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('windResistance')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureAttributes.activeWeaponAttackDamage" for="field_activeWeaponAttackDamage">Active Weapon Attack Damage</label>
                    <select class="form-control" name="activeWeaponAttackDamage" formControlName="activeWeaponAttackDamage" id="field_activeWeaponAttackDamage">
                        <option value="BLUNT">{{'adventureGatewayApp.AdventureActiveWeaponAttackDamage.BLUNT' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('activeWeaponAttackDamage').invalid && (editForm.get('activeWeaponAttackDamage').dirty || editForm.get('activeWeaponAttackDamage').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('activeWeaponAttackDamage').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureAttributes.activeWeaponAttackHit" for="field_activeWeaponAttackHit">Active Weapon Attack Hit</label>
                    <input type="number" class="form-control" name="activeWeaponAttackHit" id="field_activeWeaponAttackHit"
                           formControlName="activeWeaponAttackHit"/>
                    <div *ngIf="editForm.get('activeWeaponAttackHit').invalid && (editForm.get('activeWeaponAttackHit').dirty || editForm.get('activeWeaponAttackHit').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('activeWeaponAttackHit').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('activeWeaponAttackHit')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureAttributes.activeWeaponAttackType" for="field_activeWeaponAttackType">Active Weapon Attack Type</label>
                    <input type="number" class="form-control" name="activeWeaponAttackType" id="field_activeWeaponAttackType"
                           formControlName="activeWeaponAttackType"/>
                    <div *ngIf="editForm.get('activeWeaponAttackType').invalid && (editForm.get('activeWeaponAttackType').dirty || editForm.get('activeWeaponAttackType').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('activeWeaponAttackType').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('activeWeaponAttackType')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureAttributes.size" for="field_size">Size</label>
                    <input type="number" class="form-control" name="size" id="field_size"
                           formControlName="size"/>
                    <div *ngIf="editForm.get('size').invalid && (editForm.get('size').dirty || editForm.get('size').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('size').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('size')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
