<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="adventureRace">
            <h2><span jhiTranslate="adventureGatewayApp.adventureRace.detail.title">Adventure Race</span> {{adventureRace.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="adventureGatewayApp.adventureRace.name">Name</span></dt>
                <dd>
                    <span>{{adventureRace.name}}</span>
                </dd>
                <dt><span jhiTranslate="adventureGatewayApp.adventureRace.desc">Desc</span></dt>
                <dd>
                    <span>{{adventureRace.desc}}</span>
                </dd>
                <dt><span jhiTranslate="adventureGatewayApp.adventureRace.image">Image</span></dt>
                <dd>
                    <div *ngIf="adventureRace.image">
                        <a (click)="openFile(adventureRace.imageContentType, adventureRace.image)">
                            <img [src]="'data:' + adventureRace.imageContentType + ';base64,' + adventureRace.image" style="max-width: 100%;" alt="adventureRace image"/>
                        </a>
                        {{adventureRace.imageContentType}}, {{byteSize(adventureRace.image)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="adventureGatewayApp.adventureRace.adventureRaceOptions">Adventure Race Options</span></dt>
                <dd>
                    <div *ngIf="adventureRace.adventureRaceOptionsId">
                        <a [routerLink]="['/adventure-race-options', adventureRace.adventureRaceOptionsId, 'view']">{{adventureRace.adventureRaceOptionsId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="adventureGatewayApp.adventureRace.adventureFraction">Adventure Fraction</span></dt>
                <dd>
                    <span *ngFor="let adventureFraction of adventureRace.adventureFractions; let last = last">
                        <a [routerLink]="['/adventure-fraction', adventureFraction?.id, 'view' ]">{{adventureFraction.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/adventure-race', adventureRace.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
