<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-adventure-account-character-heading" jhiTranslate="adventureGatewayApp.adventureAccountCharacter.home.createOrEditLabel">Create or edit a Adventure Account Character</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!adventureAccountCharacter.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureAccountCharacter.nickname" for="field_nickname">Nickname</label>
                    <input type="text" class="form-control" name="nickname" id="field_nickname"
                           formControlName="nickname"/>
                    <div *ngIf="editForm.get('nickname').invalid && (editForm.get('nickname').dirty || editForm.get('nickname').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nickname').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureAccountCharacter.gender" for="field_gender">Gender</label>
                    <input type="checkbox" class="form-control" name="gender" id="field_gender"
                           formControlName="gender"/>
                    <div *ngIf="editForm.get('gender').invalid && (editForm.get('gender').dirty || editForm.get('gender').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('gender').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureAccountCharacter.adventureInventoryChar" for="field_adventureInventoryChar">Adventure Inventory Char</label>
                    <select class="form-control" id="field_adventureInventoryChar" name="adventureInventoryChar" formControlName="adventureInventoryCharId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="adventureInventoryCharOption.id" *ngFor="let adventureInventoryCharOption of adventureinventorychars; trackBy: trackAdventureInventoryCharById">{{adventureInventoryCharOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureAccountCharacter.adventureCharacteristic" for="field_adventureCharacteristic">Adventure Characteristic</label>
                    <select class="form-control" id="field_adventureCharacteristic" name="adventureCharacteristic" formControlName="adventureCharacteristicId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="adventureCharacteristicOption.id" *ngFor="let adventureCharacteristicOption of adventurecharacteristics; trackBy: trackAdventureCharacteristicById">{{adventureCharacteristicOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureAccountCharacter.adventureRace" for="field_adventureRace">Adventure Race</label>
                    <select class="form-control" id="field_adventureRace" name="adventureRace" formControlName="adventureRaceId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="adventureRaceOption.id" *ngFor="let adventureRaceOption of adventureraces; trackBy: trackAdventureRaceById">{{adventureRaceOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="adventureGatewayApp.adventureAccountCharacter.adventureSkill" for="field_adventureSkills">Adventure Skill</label>
                    <select class="form-control" id="field_adventureSkills" multiple name="adventureSkills" formControlName="adventureSkills">
                        <option [ngValue]="getSelected(editForm.get('adventureSkills').value, adventureSkillOption)" *ngFor="let adventureSkillOption of adventureskills; trackBy: trackAdventureSkillById">{{adventureSkillOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
