<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="adventureAccountCharacter">
            <h2><span jhiTranslate="adventureGatewayApp.adventureAccountCharacter.detail.title">Adventure Account Character</span> {{adventureAccountCharacter.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="adventureGatewayApp.adventureAccountCharacter.userId">User Id</span></dt>
                <dd>
                    <span>{{adventureAccountCharacter.userId}}</span>
                </dd>
                <dt><span jhiTranslate="adventureGatewayApp.adventureAccountCharacter.nickname">Nickname</span></dt>
                <dd>
                    <span>{{adventureAccountCharacter.nickname}}</span>
                </dd>
                <dt><span jhiTranslate="adventureGatewayApp.adventureAccountCharacter.gender">Gender</span></dt>
                <dd>
                    <span>{{adventureAccountCharacter.gender}}</span>
                </dd>
                <dt><span jhiTranslate="adventureGatewayApp.adventureAccountCharacter.adventureInventoryChar">Adventure Inventory Char</span></dt>
                <dd>
                    <div *ngIf="adventureAccountCharacter.adventureInventoryCharId">
                        <a [routerLink]="['/adventure-inventory-char', adventureAccountCharacter.adventureInventoryCharId, 'view']">{{adventureAccountCharacter.adventureInventoryCharId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="adventureGatewayApp.adventureAccountCharacter.adventureCharacteristic">Adventure Characteristic</span></dt>
                <dd>
                    <div *ngIf="adventureAccountCharacter.adventureCharacteristicId">
                        <a [routerLink]="['/adventure-characteristic', adventureAccountCharacter.adventureCharacteristicId, 'view']">{{adventureAccountCharacter.adventureCharacteristicId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="adventureGatewayApp.adventureAccountCharacter.adventureRace">Adventure Race</span></dt>
                <dd>
                    <div *ngIf="adventureAccountCharacter.adventureRaceId">
                        <a [routerLink]="['/adventure-race', adventureAccountCharacter.adventureRaceId, 'view']">{{adventureAccountCharacter.adventureRaceId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="adventureGatewayApp.adventureAccountCharacter.adventureSkill">Adventure Skill</span></dt>
                <dd>
                    <span *ngFor="let adventureSkill of adventureAccountCharacter.adventureSkills; let last = last">
                        <a [routerLink]="['/adventure-skill', adventureSkill?.id, 'view' ]">{{adventureSkill.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/adventure-account-character', adventureAccountCharacter.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
