<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="adventureInventoryChar">
            <h2><span jhiTranslate="adventureGatewayApp.adventureInventoryChar.detail.title">Adventure Inventory Char</span> {{adventureInventoryChar.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="adventureGatewayApp.adventureInventoryChar.adventureItem">Adventure Item</span></dt>
                <dd>
                    <div *ngIf="adventureInventoryChar.adventureItemId">
                        <a [routerLink]="['/adventure-item', adventureInventoryChar.adventureItemId, 'view']">{{adventureInventoryChar.adventureItemId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/adventure-inventory-char', adventureInventoryChar.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
