<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-adventure-race-options-heading" jhiTranslate="adventureGatewayApp.adventureRaceOptions.home.createOrEditLabel">Create or edit a Adventure Race Options</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!adventureRaceOptions.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureRaceOptions.height" for="field_height">Height</label>
                    <input type="number" class="form-control" name="height" id="field_height"
                           formControlName="height"/>
                    <div *ngIf="editForm.get('height').invalid && (editForm.get('height').dirty || editForm.get('height').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('height').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('height').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('height')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureRaceOptions.weight" for="field_weight">Weight</label>
                    <input type="number" class="form-control" name="weight" id="field_weight"
                           formControlName="weight"/>
                    <div *ngIf="editForm.get('weight').invalid && (editForm.get('weight').dirty || editForm.get('weight').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('weight').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('weight').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('weight')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adventureGatewayApp.adventureRaceOptions.adventureModelOptions" for="field_adventureModelOptions">Adventure Model Options</label>
                    <select class="form-control" id="field_adventureModelOptions" name="adventureModelOptions" formControlName="adventureModelOptionsId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="adventureModelOptionsOption.id" *ngFor="let adventureModelOptionsOption of adventuremodeloptions; trackBy: trackAdventureModelOptionsById">{{adventureModelOptionsOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="adventureGatewayApp.adventureRaceOptions.adventureModel" for="field_adventureModels">Adventure Model</label>
                    <select class="form-control" id="field_adventureModels" multiple name="adventureModels" formControlName="adventureModels">
                        <option [ngValue]="getSelected(editForm.get('adventureModels').value, adventureModelOption)" *ngFor="let adventureModelOption of adventuremodels; trackBy: trackAdventureModelById">{{adventureModelOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
