<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="adventureModel">
            <h2><span jhiTranslate="adventureGatewayApp.adventureModel.detail.title">Adventure Model</span> {{adventureModel.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="adventureGatewayApp.adventureModel.name">Name</span></dt>
                <dd>
                    <span>{{adventureModel.name}}</span>
                </dd>
                <dt><span jhiTranslate="adventureGatewayApp.adventureModel.file">File</span></dt>
                <dd>
                    <div *ngIf="adventureModel.file">
                        <a (click)="openFile(adventureModel.fileContentType, adventureModel.file)" jhiTranslate="entity.action.open">open</a>
                        {{adventureModel.fileContentType}}, {{byteSize(adventureModel.file)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="adventureGatewayApp.adventureModel.adventureCategoryType">Adventure Category Type</span></dt>
                <dd>
                    <div *ngIf="adventureModel.adventureCategoryTypeId">
                        <a [routerLink]="['/adventure-category-type', adventureModel.adventureCategoryTypeId, 'view']">{{adventureModel.adventureCategoryTypeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/adventure-model', adventureModel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
