<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="adventureSkill">
            <h2><span jhiTranslate="adventureGatewayApp.adventureSkill.detail.title">Adventure Skill</span> {{adventureSkill.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="adventureGatewayApp.adventureSkill.name">Name</span></dt>
                <dd>
                    <span>{{adventureSkill.name}}</span>
                </dd>
                <dt><span jhiTranslate="adventureGatewayApp.adventureSkill.position">Position</span></dt>
                <dd>
                    <span>{{adventureSkill.position}}</span>
                </dd>
                <dt><span jhiTranslate="adventureGatewayApp.adventureSkill.adventureScript">Adventure Script</span></dt>
                <dd>
                    <div *ngIf="adventureSkill.adventureScriptId">
                        <a [routerLink]="['/adventure-script', adventureSkill.adventureScriptId, 'view']">{{adventureSkill.adventureScriptId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/adventure-skill', adventureSkill.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
